.tag {
  display: inline-block;

  // TODO: colors
  background: #337AB7;
  border-radius: 3px;
  margin: 5px;
  padding: 2px 5px;
  cursor: pointer;

  &, &:hover {
    text-decoration: none;
    color: white;
  }
}
