<div class="response" ng-controller="ResponseCtrl" highlight="shouldHighlight(responseCode, operationName)">
  <a class="response-code" ui-sref="home.paths.operations.responses({
    responseCode: responseCode,
    operationName: operationName,
    pathName: pathName
  })">
    <h5 class="response-code response-code-{{getResponseCodeGroup(responseCode)}}xx">{{responseCode}}</h5>
  </a>
  <p marked="response.description"></p>

  <h6 ng-if="getSchema(response)">Schema</h6>
  <json-schema-view ng-if="getSchema(response)" schema="getSchema(response)" open="1"></json-schema-view>

  <h6 ng-if="response.headers">Header</h6>
    <div ng-repeat="(headerName, header) in response.headers">
      <p>
        <b>{{headerName}}</b>
        <span>({{header.type}})</span>
      </p>
      <div class="description" marked="header.description"></div>
    </div>
</div>
