.parameter {
  padding: 1em 0.5em;

  // + .parameter {
    border-bottom: 1px solid @theme-subtle;
  // }

  h5 {
    font-size: 16px;
    color: black;
    font-weight: normal;
  }

  h5.parameter-name .name {
    font-weight: bold;
    font-family: monospace;

    &:hover {
      text-decoration: underline;
    }
  }

  .operation-name {
    &, &:hover {
      text-decoration: none;
    }

    .in {
      color: black;
    }
  }

  .description {
    padding-top: 10px;
  }
}
