.parameter {
  padding: 0.5em;

  h5 code {
    font-size: 15px;
  }

  .operation-name {
    &, &:hover {
      text-decoration: none;
    }

    .in {
      color: black;
    }
  }

  .description {
    padding-top: 10px;
  }
}
