<div class="{{operationName}} operation" ng-controller="OperationCtrl" highlight="shouldHighlight(operationName)">
  <header>
    <a ui-sref="home.paths.operations({operationName: operationName, pathName: pathName})">
      <h4>{{operationName | uppercase}} <span class="path-name">{{pathName}}</span></h4>
    </a>
  </header>
  <section>
    <div class="tags">
      <a ng-repeat="tag in swagger.paths[pathName][operationName].tags" class="tag">{{tag}}</a>
    </div>
    <div marked="swagger.paths[pathName][operationName].description"></div>

    <h4 ng-if="swagger.paths[pathName][operationName].parameters.length">Parameters</h4>
    <div ng-repeat="parameter in swagger.paths[pathName][operationName].parameters">
      <div ng-include="'app/parameter/parameter.html'"></div>
    </div>

    <h4 ng-if="swagger.paths[pathName][operationName].responses">Responses</h4>
    <div ng-repeat="(responseCode, response) in swagger.paths[pathName][operationName].responses">
      <div ng-include="'app/response/response.html'"></div>
    </div>
  </section>
</div>
