.operation-theme(@color) {
  border-color: @color;

  header {
    background: lighten(@color, 20%);

    a {
      background-color: @color;
      display: inline-block;
    }
  }

  >section >h4 {
    color: @color;
  }
}

.operation {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  margin: 20px 0;

  > section {
    padding: 10px 20px;

    > h4 {
      margin: 10px 0 5px;
    }
  }

  > header {
    a {
      color: white;
      text-decoration: none;

      .path-name {
        font-family: monospace;
      }
    }

    h4 {
      margin: 0;
      padding: 10px 20px;
    }
  }

  &.options {.operation-theme(@theme-op-options); }
  &.get     {.operation-theme(@theme-op-get); }
  &.head    {.operation-theme(@theme-op-head); }
  &.post    {.operation-theme(@theme-op-post); }
  &.put     {.operation-theme(@theme-op-put); }
  &.patch   {.operation-theme(@theme-op-patch); }
  &.delete  {.operation-theme(@theme-op-delete); }
  &.trace   {.operation-theme(@theme-op-trace); }
  &.connect {.operation-theme(@theme-op-connect); }
}
