/*
 * This file is where all colors and other configurable styling variables are
 * defined.
 *
 * It's possible to change following variables to make a new "theme"
*/


/*
 * This color is used in header.
 * @theme-header-bg-color and @theme-header-color can't both be light or dark
 * because text is not going to be readable if they were both dark or light.
*/
@theme-header-bg-color: rgb(111, 162, 30);    // background color
@theme-header-color: white;                   // text color



/*
 * Operation colors
 * Each operation uses it's theme color for header and border
 * These colors should be dark so white text is readable on it
*/
@theme-op-options: #529691;
@theme-op-get:     #2B2BA6;
@theme-op-head:    #F4A109;
@theme-op-post:    #0B790B;;
@theme-op-put:     #836A0D;
@theme-op-patch:   #23D793;
@theme-op-delete:  #A91111;
@theme-op-trace:   #383838;
@theme-op-connect: #7C9BA5;


/*
 * Response code colors
 * Each group of response code is presented with a color
 * These colors are applied to text on white background.
*/
@theme-rc-2xx: #0C5634;
@theme-rc-3xx: #402EAB;
@theme-rc-4xx: #BB8014;
@theme-rc-5xx: #DD3E0F;
