<div ng-controller="PathCtrl">
  <div class="path"
    ng-repeat="(pathName, path) in filterPaths(swagger.paths)">

    <header>
      <a ui-sref="home.paths({pathName: pathName})">
        <h2>{{pathName}}</h2>
      </a>
    </header>

    <section>
      <!--
        there is no path description in Swagger.
        TODO: should we use a x-docs-description?
      -->
      <div marked="swagger.paths[pathName].description"></div>

      <div ng-repeat="(operationName, operation) in swagger.paths[pathName]">
        <div ng-include="'app/operation/operation.html'"></div>
      </div>
    </section>
  </div>
</div>
