<nav class="navbar navbar-static-top sd-navbar" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand sd-brand" href="http://swagger.io">{{swagger.info.title}}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="sd-alpha-link" target="_blank" href="https://github.com/mohsen1/swagger-docs">Alpha</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
