.sd-navbar {
  background: @theme-main-bg-color;
  box-shadow: 0 0 5px black;

  li a {
    color: @theme-main-color;

    &:hover {
      background: darken(@theme-main-bg-color, 10%);
    }
  }

  // FIXME this is temporary. Should be removed on launch
  .sd-alpha-link {
    color: rgb(64, 21, 0);
    background: rgb(255, 215, 0);
  }

  .sd-brand {
    text-shadow: 0 1px darken(@theme-main-bg-color, 60%);
    color: @theme-main-color;
  }
}
